button {
    outline: none;
    background-color: green;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

button:hover {
    background-color: darkgreen;
}

.overCode {
    padding-left: 2.51em;
    padding-right: 2.51em;
    font-size: 18px;
}


#textSegment, #dataSegment, #stackPointer, #globalPointer {
    padding-left: 4em;
    padding-right: 4em;
}

button:disabled, button[disabled] {
  opacity: 50%;
}

.arrows {
    padding-left: 6.31em;
    padding-right: 6.31em;
}

.labelsArrows {
    padding-left: 9.52em;
    padding-right: 9.52em;
}