body {
    background-color: rgb(157, 160, 252);
}

.column, .column2 {
    float: left;
    padding: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

textarea {
    font-size: large;
    resize: none;
    color: white;
    background-color: rgb(41, 41, 41);
}