table {
  border-collapse: collapse;
}

caption {
  background-color: rgb(0, 0, 110);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: large;
  font-weight: 800;
}

td {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

th {
  background-color: rgb(139, 139, 255);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.memoryAndNavigation {
  padding-left: 30px;
}

#memory td {
  padding-right: 1em;
}

#registerTable td {
  padding-right: 0.8em;
}

tr {
  background-color: rgb(212, 212, 255);
}

tr:hover {background-color: rgb(192, 192, 253);}

#labels caption {
  width: 36.8em;
}

#labels th {
  padding: 0.7em 9.78em;
}

#labels td {
  padding-left: 0.004em;
  padding-right: 0.004em;
}